@use '../lib/index'as lib;

@forward 'element-plus/theme-chalk/src/common/var.scss'with ($colors: ('primary': ('base': lib.$primary,
    ),
    'success': ('base': lib.$success,
    ),
    'warning': ('base': lib.$warning,
    ),
    'danger': ('base': lib.$danger,
    ),
    'error': ('base': lib.$error,
    ),
    'info': ('base': lib.$info,
    ),
  ),

  $border-radius: (base: 2px,
  ));

@use 'element-plus/theme-chalk/src/index.scss'as *;

.el-card {
  /* 用于覆盖 ElementPlus Card 组件样式变量 */
  --el-card-padding      : 10px;
  --el-card-border-radius: #{lib.rem(lib.$radius)};

}

.el-dialog {
  /* 用于覆盖 ElementPlus Dialog 组件样式 */
  --el-dialog-padding-primary: #{lib.rem(10)};
}

.el-popover {
  --el-popover-border-radius: #{lib.rem(lib.$radius)};
  --el-popover-padding      : #{lib.rem(5)};
}