.v-layout .v-app-bar {
  --v-app-bar-padding: 0.625rem;
  --v-app-bar-background-color: var(--v-primary);
  --v-app-bar-item-height: var(--v-appbar-item-size-base);
  --v-app-bar-icon-width: var(--v-app-bar-item-height);
  --v-app-bar-title-color: var(--v-white-text);
  --v-app-bar-title-font-size: var(--v-fontsize-normal);
  padding: calc(var(--v-app-bar-padding) / 2) var(--v-app-bar-padding);
  background-color: var(--v-app-bar-background-color);
}
.v-layout .v-app-bar .v-app-bar__icon {
  width: var(--v-app-bar-icon-width);
  height: var(--v-app-bar-item-height);
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center center;
}
.v-layout .v-app-bar .v-app-bar__title {
  color: var(--v-app-bar-title-color);
  font-size: var(--v-app-bar-title-font-size);
}