:root {
  --v-avatar-button-popover-width: 18.75rem;
}

.v-avatar-button {
  --v-avatar-button-image-width: var(--v-appbar-item-size-base);
  --v-avatar-button-image-height: var(--v-appbar-item-size-base);
  height: var(--v-avatar-button-image-height);
  width: var(--v-avatar-button-image-width);
  display: block;
  border: 0 none;
  cursor: pointer;
  border-radius: 100%;
}