@use "../lib/index"as lib;
@use "./scrollable-box";
@use "./flex-box";
@use "./mdicon"as mdi;
@use "./desktop";
@use "./appbar";

@mixin build-vars {
    --ry-app--background-color: #fafafa;
    --ry-app--height          : #{percentage($number: 1)};
    @include scrollable-box.build-vars;
    @include flex-box.build-vars;
    @include mdi.build-vars;
    @include desktop.build-vars;
    @include appbar.build-vars;
}

@mixin build-class {
    .ry-app {
        background-color: var(--ry-app--background-color);
        height          : var(--ry-app--height);
    }

    @include scrollable-box.build-class;
    @include flex-box.build-class;
    @include mdi.build-class;
    @include desktop.build-class;
    @include appbar.build-class;
}