@use "../lib/index"as lib;

@mixin build-vars {
    --ry-mdicon--size : var(--ry-text-lg);
    --ry-mdicon--color: var(--ry-tertiary-text);
}

@mixin build-class {
    .ry-mdicon {
        font: {
            size : var(--ry-mdicon--size);
            style: normal;
        }
    }
}