@use "sass:math";
@use "../../../assets/lib/index"as lib;

/*tips: Home 默认页容器视图样式。*/
.default-view {
    --default-view-footer-border-color    : rgba(245, 245, 245, 1.0);
    --default-view-footer-border-size     : #{math.div(1, lib.$fontsize-base)}rem;
    --default-view-footer-background-color: rgba(250, 250, 250, 1.0);

    #{&}__footer {
        border-top      : var(--default-view-footer-border-size) solid var(--default-view-footer-border-color);
        background-color: var(--default-view-footer-background-color);
    }
}