.v-databox {
  --v-databox-size: 100%;
  --v-databox-item-padding: calc(var(--v-padding-base) / 2);
  --v-databox-search-box-background-color: rgba(250, 250, 250, 1.0);
  width: var(--v-databox-size);
  height: var(--v-databox-size);
}
.v-databox__item {
  padding-top: var(--v-databox-item-padding);
  padding-bottom: var(--v-databox-item-padding);
}
.v-databox__search-area {
  padding-left: var(--v-padding-base);
  padding-right: var(--v-padding-base);
}