.v-databox {
  --v-databox-size: 100%;
  --v-databox-item-padding: calc(var(--v-padding-base) / 2);
  --v-databox-search-box-background-color: rgba(245, 245, 245, 1.0);
  width: var(--v-databox-size);
  height: var(--v-databox-size);
}
.v-databox > div {
  padding-top: var(--v-databox-item-padding);
  padding-bottom: var(--v-databox-item-padding);
}
.v-databox > div:first-child {
  padding-top: calc(var(--v-databox-item-padding) * 2) !important;
}
.v-databox > div:last-child {
  padding-bottom: calc(var(--v-databox-item-padding) * 2) !important;
}
.v-databox__search-area {
  background-color: var(--v-databox-search-box-background-color);
  padding-left: var(--v-padding-base);
  padding-right: var(--v-padding-base);
}